version = 1

[[analyzers]]
name = "javascript"

enabled = true

[[analyzers]]
name = "typescript"
enabled = true

[[analyzers]]
name = "secrets"
enabled = true


  [analyzers.meta]
  plugins = ["react"]

