
            .leaflet-container {
              width: 100%;
              height: 100%;
              background-color: rgba(37, 37, 37, 1) !important;
            }
            .leaflet-tile {
              filter: grayscale(1) invert(0.8) opacity(1);

            }
            .leaflet-control-attribution {
              display: none !important;
            }
            .custom-map-marker {
              position: relative;
            }
            .marker-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              position: relative;
            }
            .marker-dot {
              width: 16px;
              height: 16px;
              background-color: #1ad1b9;
              border-radius: 50%;
              box-shadow:
                0 0 15px #1ad1b9,
                0 0 30px #1ad1b9;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 5;
            }
            .pulse-ring {
              width: 30px;
              height: 30px;
              border: 1px solid rgba(26, 209, 185, 0.5);
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              animation: pulse 2.5s infinite ease-out;
              opacity: 0;
              z-index: 4;
            }
            .pulse-ring:nth-child(1) {
              animation-delay: 0s;
            }
            .pulse-ring:nth-child(2) {
              width: 50px;
              height: 50px;
              animation-delay: 0.8s;
              border-color: rgba(26, 209, 185, 0.3);
            }

            @keyframes pulse {
              0% {
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0.8;
              }
              100% {
                transform: translate(-50%, -50%) scale(4);
                opacity: 0;
              }
            }

            /* Hover Circles Styles */
            .hover-circle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              border: 1px solid rgba(255, 255, 255, 0.4);
              border-radius: 50%;
              opacity: 0;
              transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
              z-index: 3;
              pointer-events: none;
            }

            .is-hovered .hover-circle {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }

            .circle-1 {
              width: 100px;
              height: 100px;
            }

            .circle-2 {
              width: 150px;
              height: 150px;
              transition-delay: 0.1s;
              border-color: rgba(255, 255, 255, 0.2);
            }

            .marker-stem {
              width: 1px;
              height: 500px;
              background: linear-gradient(
                to bottom,
                #1ad1b9 0%,
                rgba(26, 209, 185, 0.1) 100%
              );
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%);
              z-index: 1;
              opacity: 0.4;
            }
          