@import "tailwindcss";
/* globals.css */


@theme {
  /* Define a new breakpoint named '1.5xl' at 1500px */
  --breakpoint-3xl: 1500px;
  /* 1500px converted to rem (1500/16 = 93.75) */
  /* Optionally, you can also name it 'custom-lg' or similar */
  /* --breakpoint-custom-lg: 93.75rem; */
}

html,
body {
  overscroll-behavior: none;
}

/* You can use these CSS variables directly now */
.font-onest {
  font-family: var(--font-onest), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif !important;
}





:root {
  /* Light mode brand colors */
  --primary-purple: #795CF5;
  --primary-purple-rgb: 121, 92, 245;
  --primary-purple-light: #7B61FF;
  --primary-purple-dark: #634AE2;
  --primary-teal: #1AD1B9;
  --primary-teal-rgb: 26, 209, 185;
  --primary-teal-dark: #13B49F;
  --primary-blue: #5588DF;
  --primary-blue-rgb: 85, 136, 223;
  --primary-blue-dark: #38ACCC;
  --accent-purple: #9E02FF;
  --accent-purple-light: #CFB5F9;
  --accent-blue-light: #A0D7FF;

  /* Background colors */
  --background-light: #F3F3F3;
  --background-halfwhite: #F3F4F6;
  --background-purple-light: #F6F4FE;
  --white-color: #FFFFFF;
  --white-color-rgb: 255, 255, 255;

  /* Text colors */
  --text-dark: #231F20;
  --text-dark-rgb: 35, 31, 32;
  --text-grey: #666666;
  --text-grey-rgb: 102, 102, 102;
  --text-light: #333333;
  --text-light-alt: #374151;
  --text-black: #000000;
  --text-muted: #8A8A8A;
  --text-muted-alt: #999999;
  --primary-dark: #1D2034;
  --primary-dark-rgb: 29, 32, 52;
  --text-header: #464253;
  --warning-text: #8B6E2C;

  /* Border colors */
  --border-light: #E5E7EB;
  --border-muted: #D9D9D9;
  --warning-border: #FFD982;

  /* Specialty backgrounds */
  --warning-bg: #FFF9EB;
  --addon-bg: #FFF9F8;
  --addon-tag-bg: #FF6455;
  --addon-light-bg: #FFF1EF;

  /* Specialty borders */
  --addon-border: #FF6E5E;
}


/* .dark {
  --primary-purple: #8C75F7;
  --primary-teal: #2BE3CB;
  --background-light: #1F2937;
  --background-white: #111827;
  --text-dark: #F9FAFB;
  --text-gray: #D1D5DB;
  --text-light: #F3F4F6;
  --border-light: #374151;
} */


/* Wrapper for complete website styling started here */



.wrapper {
  margin: 0 24px;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0 40px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin: 0 40px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    margin: 0 40px;
  }
}


@media (min-width: 1440px) {
  .wrapper {
    max-width: 1350px;
    margin: 0 auto;
  }
}

/* 
@media (min-width: 1535px) {
  .wrapper{
        max-width: 1380px;
        margin: 0 auto; 
    }
}

@media (min-width: 1750px) {
  .wrapper{
        max-width: 1700px;
        margin: 0 auto; 
    }
} */

/* Wrapper for complete website styling ended here */

.real-voices {
  background-image: url(../../public/assets/home-page-images/voices-sectionbg.webp);
}


.gradient-text {
  background: linear-gradient(90deg, var(--text-dark) 0%, var(--text-muted) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}


/* Equal height cards for Swiper */
.swiper-wrapper {
  display: flex !important;
  align-items: stretch !important;
}




.swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: var(--primary-purple);
  box-shadow: inset 0px 0px 0.5px 0px var(--primary-purple);
  opacity: 0.4;
  transition: all 0.3s ease;
  border-radius: 50%;
}

/* Active bullet */
.swiper .swiper-pagination-bullet-active {
  opacity: 1;
  width: 20px;
  height: 20px;
  background-color: var(--primary-purple);
}


.swiper-mobile {
  display: none;
}

.columns-container {
  display: block;
}

@media (max-width: 767px) {

  .swiper-mobile {
    display: block;
  }

  .columns-container {
    display: none;
  }
}


.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}


@media (max-width: 767px) {
  .ownerinventory-landing__pos-buildingmobile {
    background: linear-gradient(180deg, rgba(121, 92, 245, 0.5) 0%, rgba(26, 209, 185, 0.4) 100%);
  }
}

.gradient-shadow {
  position: relative;
  z-index: 1;
}

.gradient-shadow::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 60%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      var(--primary-teal) 0.66%,
      var(--primary-blue-dark) 29.25%,
      var(--primary-blue) 63.93%,
      var(--primary-purple) 98.14%);
  filter: blur(80px);
  z-index: -1;
}

/* @media (min-width: 768px) {
  .gradient-shadow::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0px;
  bottom: -20px;
  left: -50px;
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.5) 0.66%,
      rgba(56, 172, 204, 0.5) 29.25%,
      rgba(85, 136, 223, 0.5) 63.93%,
      rgba(121, 92, 245, 0.5) 98.14%);
  filter: blur(100px);
  z-index: -1;
}
} */

.gradient-shadow-right {
  position: relative;
  z-index: 1;
}


/* @media (min-width: 768px) {
  .gradient-shadow-right::before {
    content: "";
    position: absolute;
     width: 80%;
  height: 60%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
   transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 1) 0.66%,
      rgba(56, 172, 204, 1) 29.25%,
      rgba(85, 136, 223, 1) 63.93%,
      rgba(121, 92, 245, 1) 98.14%);
  filter: blur(100px);
  z-index: -1;
  }
} */

.gradient-shadow-right::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 60%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.8) 0.66%,
      rgba(56, 172, 204, 0.8) 29.25%,
      rgba(85, 136, 223, 0.8) 63.93%,
      rgba(121, 92, 245, 0.8) 98.14%);
  filter: blur(100px);
  z-index: -1;
}

.finance-reporting-shadow {
  position: relative;
  z-index: 1;
}

.finance-reporting-shadow::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  bottom: -100px;
  left: 0;
  border-radius: inherit;

  /* Your glow colors */
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.22) 0.66%,
      rgba(56, 172, 204, 0.22) 29.25%,
      rgba(85, 136, 223, 0.22) 50.93%,
      rgba(121, 92, 245, 0.22) 98.14%);

  filter: blur(20px);
  z-index: -1;

  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

}


.finance-reporting-shadow2 {
  position: relative;
  z-index: 1;
}

.finance-reporting-shadow2::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  bottom: -100px;
  left: 0;
  border-radius: inherit;

  /* Your glow colors */
  background: linear-gradient(69.54deg, rgba(158, 2, 255, 0.4) 30%, rgba(207, 181, 249, 0.4) 60%, var(--primary-teal) 100%);

  filter: blur(150px);
  z-index: -1;

  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

}


.who-we-shadow {
  position: relative;
  z-index: 1;
}

.who-we-shadow::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  bottom: -100px;
  left: 0;
  border-radius: inherit;

  /* Your glow colors */
  background: linear-gradient(69.54deg,
      rgba(160, 215, 255, 0.25) 10%,
      rgba(160, 215, 255, 0.25) 29.25%,
      rgba(207, 181, 249, 0.35) 50.93%,
      rgba(207, 181, 249, 0.35) 98.14%);

  filter: blur(20px);
  z-index: -1;

  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 1) 32%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.15) 90%,
      rgba(0, 0, 0, 0) 100%);

}

.glass-bg {
  border-radius: 9999px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.28) 30%,
      rgba(255, 255, 255, 0.30) 100%);

  border: 1px solid rgba(255, 255, 255, 0.4);
}


.glass-background {
  border-radius: 47.692px;
  border: 1.59px solid var(--white-color);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.mySwiper .swiper-pagination {
  bottom: 0 !important;
}

.mySwiper .custom-swiper-bullet {
  width: 28px;
  height: 4px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.45);
  margin: 0 6px !important;
  transition: all 0.3s ease;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active.custom-swiper-bullet {
  width: 42px;
  background: rgba(255, 255, 255, 0.9);
}

.hero-bg-circle {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.hero-bg-circle::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;

  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  -webkit-mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 60%);
  mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 60%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 140% 140%;
  mask-size: 140% 140%;

  pointer-events: none;
}