

/* Pagination bullets */
.swiper .swiper-pagination-bullet {
  width: 42px !important;
  height: 7px !important;
  background-color:  rgba(255, 255, 255, 0.8) !important;
  box-shadow: inset 0px 0px 0.5px 0px var(--primary-purple) !important;
  opacity: 0.4 !important;
  transition: all 0.3s ease !important;
  border-radius: 99px !important;
}

/* Active bullet */
.swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 42px !important;
  height: 7px !important;
  background-color: #FFFFFF !important;
}

@media(min-width: 1024px){
  .swiper .swiper-pagination-bullet {
  width: 70px !important;
  height: 7px !important;
  background-color:  rgba(255, 255, 255, 0.8) !important;
  box-shadow: inset 0px 0px 0.5px 0px var(--primary-purple) !important;
  opacity: 0.4 !important;
  transition: all 0.3s ease !important;
  border-radius: 99px !important;
}

/* Active bullet */
.swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 70px !important;
  height: 7px !important;
  background-color: #FFFFFF !important;
}

}

@media(min-width: 1280px){
  .swiper .swiper-pagination-bullet {
  width: 106px !important;
  height: 7px !important;
  background-color:  rgba(255, 255, 255, 0.8) !important;
  box-shadow: inset 0px 0px 0.5px 0px var(--primary-purple) !important;
  opacity: 0.4 !important;
  transition: all 0.3s ease !important;
  border-radius: 99px !important;
}

/* Active bullet */
.swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 106px !important;
  height: 7px !important;
  background-color: #FFFFFF !important;
}

}
